
 nav img {
     width: 100px;
     margin-top: 0;
 }


 

  /* партнеры */

  #partners p {
      position: left;
      margin-left: 100px;

  }
  #partnersImg {
    position: static;
    margin-left: 10px;
  }
  #partnersImg img {
      height: 50px;  
      margin-top: 10px;
      margin-left: 15%;
  }





 .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: #fff;
     font-weight: bold;
     font-size: 18px;
     transition: 0,6s ease;
     border-radius: 0 3px 3px 0;
 }
 
 

 
 

 
 
 
 a {
     text-decoration: none; 
     color: #111;
     font-family: 'Montserrat', sans-serif;
 }
  
 a:hover {
     color: rgb(126, 126, 126)
 }
 
 a:active {
     color: rgb(71, 71, 71)
 }
 
 
 /* footer */
 

#social {
    margin-left: 45%;
}
 #social img {
     height: 30px;
 }
 
 /* plus */
 ::selection {
     background: #b1b1b1;
 }
 .bold {font-weight: bold;}
 .center {text-align: center;}
 .right {float: right;}
 .together {
     word-spacing: 1px;
 }
 .small-img {
     width: 50px;
 }
 .black{color: black;}
 
 
 /* jQuery */
 /* Контакты */

